.first-screen{
  padding: 700px 0 150px;
  background: url("../images/first-screen/bgc.png") top/cover no-repeat;
  &__btn{
    @include button(182px, var(--gold));
    &:last-child{
      margin-left: 30px;
    }
  }
}