.header{
    position: absolute;
  width: 100%;
    &__top{
      padding: 30px 0 20px;
    }
    &__top-left{
      @include text-style(normal, 13px, 150%, #ffffff);
    }
  &__top-right{
    @include text-style(normal, 13px, 150%, #ffffff);
  }
  &__row{
    height: 47px;
    width: 100%;
    border-top:1px solid #FFFFFF ;
    border-bottom:1px solid #FFFFFF ;
    padding: 0;
    margin: 0;
  }
  &__col{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid #FFFFFF ;
    &:last-child{
      border-right:none ;
    }
  }
  &__link{
    text-decoration: none;
    @include text-style(normal, 14px, 150%, #ffffff);
  }
}